
body
{
	background-color:#4B0082;
}


div{
	border:50px;
	border-radius: 5px;
	background-color:#e0ffff;

	position: 80px;
	background-size: 100% auto;
	width: 65%;
	height: 100%;
	margin-left:auto;
	margin-right:auto
   }  


 p{		
	 color:#8A2BE2;
 	 font-size:40px;
   }


/* borde—radius标签 */
 .a{
text-align:center;
border:2px solid #a1a1a1;
padding:10px 40px; 
background:#dddddd;
width:350px;
border-radius:25px;
-moz-border-radius:25px; /* 老的 Firefox */
}
