
body
{
	background-color:#8A2BE2;
}


div{
	border:50px;
	border-radius: 5px;
	background-color:#e0ffff;

	position: 80px;
	background-size: 100% auto;
	width: 65%;
	height: 100%;
	margin-left:auto;
	margin-right:auto
   }  


 p{		
	 color:#8A2BE2;
 	 font-size:40px;
   }  
 
