
body
{
	background-color:#4B0082;
}

.b{
border-style: solid;
border-color: #ff0000 #00ff00 #0000ff rgb(130,130)
}


div{
	border:50px;
	border-radius: 5px;
	background-color:#e0ffff;

	position: 80px;
	background-size: 100% auto;
	width: 65%;
	height: 100%;
	margin-left:auto;
	margin-right:auto
   }  


 p{		
	 color:#8A2BE2;
 	 font-size:40px;
/* 	 字体阴影 */
	 text-shadow: 5px 5px 5px #000000;
/* 	 旋转 */
	 transform:rotate(5deg);
	-ms-transform:rotate(5deg); /* Internet Explorer */
	-moz-transform:rotate(5deg); /* Firefox */
	-webkit-transform:rotate(5deg); /* Safari 和 Chrome */
	-o-transform:rotate(5deg); /* Opera */
 
/*	 3D变换 */
	transition:width 2s;
	-moz-transition:width 2s; /* Firefox 4 */
	-webkit-transition:width 2s; /* Safari and Chrome */
	-o-transition:width 2s; /* Opera */

}


/* 	borde—radius标签 */
.a{
text-align:center;
border:2px solid #a1a1a1;
padding:10px 40px; 
background:#dddddd;
width:350px;
border-radius:25px;
-moz-border-radius:25px; /* 老的 Firefox */
}

